:root {
	--text: #ffffff;
	--background: #151b1d;
	--primary: #a30036;
	--primary-hover: #b90a28;
	--secondary: #2c2f33;
	--secondary-dark: #1e2022;
	--secondary-light1: #34383d;
	--secondary-light2: #4d555e;
	--accent: #6b1a5b;
	--f-outfit: "Outfit", sans-serif;
}

@keyframes fadeInSweep {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-sweep {
	animation: fadeInSweep 1.6s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

html {
	background-color: var(--background);
	color: var(--text);
}

header, main, footer {
	min-width: 320px;
	max-width: 100%;
	width: 560px;
	padding: inherit 20px;
	margin: 0 auto;
}

main {
	margin-top: 25vh;
}

footer {
	width: 460px;
	margin-top: 24pt;
	padding-top: 12pt;
	border-top: 1px solid var(--secondary);
	color: var(--secondary-light2);
	text-align: center;
	font-family: var(--f-outfit);
	font-weight: 300;
	font-size: 10pt;
}

footer a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	user-select: none;
	text-align: center;
	font-family: var(--f-outfit);
}

h1:hover, h2:hover, h3:hover {
	cursor: default;
}

h1.title {
	margin-bottom: 0;
	font-weight: 900;
	font-size: 64pt;
}

h2.subtitle {
	margin: 0 0 24pt;
	font-weight: 600;
	font-size: 24pt;
}

h1.title:hover, h2.subtitle:hover {
	text-shadow: 0px 0px 4pt var(--text);
	transition: text-shadow 1s ease-out;
}

a {
	color: inherit;
	text-decoration: inherit;
}

button {
	user-select: none;
	border-width: 0px;
	border-radius: 8px;
	padding: 10px 20px;
	font-family: var(--f-outfit);
	font-weight: 500;
	font-size: 12pt;
	background-color: var(--secondary);
	color: var(--text);
}

button:hover {
	cursor: pointer;
	background-color: var(--secondary-light1);
	box-shadow: 0px 1px 8px var(--secondary);
	transition:
		background-color 0.1s cubic-bezier(0.215, 0.610, 0.355, 1),
		box-shadow 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

button:active {
	background-color: var(--secondary-light2);
	box-shadow: 0px 1px 16px var(--secondary-light1);
	transition:
		background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1),
		box-shadow 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

button.primary {
	background-color: var(--primary);
}

button.primary:hover {
	background-color: var(--primary-hover);
	box-shadow: 0px 4px 32px var(--primary);
	transform: scale(1.03);
	transition:
		background-color 0.5s ease,
		box-shadow 1s ease,
		transform 0.75s ease;
}

button.secondary {
	background-color: var(--background);
}

button.secondary:hover {
	background-color: var(--secondary-dark);
	box-shadow: none;
	transition:
		background-color 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

button.secondary:active {
	border: 2px solid var(--text);
	background-color: var(--secondary);
	box-shadow: none;
	transition:
		border 0.1s cubic-bezier(0.215, 0.610, 0.355, 1),
		background-color 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.buttons-container {
	user-select: none;
	display: block;
	width: max-content;
	margin: 0 auto;
}

.buttons-container.list {
	width: 460px;
}

.buttons-container.list button {
	width: 100%;
	display: block;
	margin: 8px 0;
}

.inline-img {
	display: inline;
	margin: 0 0.1em -0.33em 0;
	padding: 0;
	vertical-align: text-bottom;
}

@media (max-width: 440px) {
	h1.title {
		font-weight: 900;
		font-size: 52pt;
	}
	
	h2.subtitle {
		font-size: 19.5pt;
	}
}
